@import '../variables.scss';

.button-group {
  text-align: center;
  .circle-button {
    padding: 6px;
    padding-bottom: 3px;
    padding-top: 2px;
    background-color: $primary-color;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 14px;
    display: block;
    margin: 0 auto;

    &.warning {
      background-color: $gold;
    }

    .fa {
      color: $primary-darkened;
    }


    &:focus {
      outline: none;
    }
  }
}
