//Core colors

$black: #000;
$white: #fff;
$off-white: #eaeaea;
$gray1: #4f4f4f;
$gray2: #E7EAED;
$gray3: #efefef;
$gray4: #a8a8a8;
$dark-gray: #4b4e51;
$light-black: #040E19;
$link-blue: #0066CD;
$blue3: #1e7dec;
$teal: #018B94;
$cool-blue: #c3ccdb;

$tile-border: 1px solid $teal;
$tile-shadow:  0px 4px 10px #434446;
$white-border: 1px solid $off-white;

$nav-color: $light-black;

$secondary-pane: rgba(0, 126, 161, 1);

$project-column-color: #6EA8A3;
$context-color: rgba(43, 25, 53, 1);




$gold: #AC935E;
$primary-color: #007aff;
$primary-darkened: #1D252C;
$yellow5: #f9f4ca;



$panel-radius: 8px;
// Events Page Carousel variables
$slider-max-height: 40vh;
